
# Some credentials
DB_USER=root
DB_PASSWORD=SUPER_SECRET
DB_TO_DUMP=matomo
DB_DUMP_PATH=/tmp
DB_DUMP_NAME=matomo-ci.sql
MINIO_CLIENT=/usr/local/bin/minio-client <-- Path to minio executables(if not globally installed).
MINIO_CONFIG=/PATH/TO/YUOR/.minio-client <-- Usually in your home (~) folder.

CI_DB_NAME=matomo-ci
CI_DB_HOST=db-ci
CI_DB_USER=root
CI_DB_PASS=QWERTY
CI_DB_DUMP_PATH=/tmp
CI_DB_DUMP_NAME=matomo-ci-processed.sql
