
MATOMO_IMAGE=matomo
WORKSPACE_DIR=/usr/local/var/www/matomo

# Some credentials
DB_USER=root
DB_PASSWORD=SUPER_SECRET
DB_TO_DUMP=matomo
DB_DUMP_PATH=/tmp
DB_DUMP_NAME=matomo-ci.sql
MINIO_CLIENT=/usr/local/bin/minio-client <-- Path to minio executables(if not globally installed).
MINIO_CONFIG=/PATH/TO/YUOR/.minio-client <-- Usually in your home (~) folder.
MINIO_BUCKET_PATH=path/in/minio

# Naming for CI
CI_DB_NAME=matomo-ci
CI_DB_HOST=db-ci
CI_DB_PORT=3306
CI_DB_PORT_INTERNAL=3306
CI_DB_USER=root
CI_DB_PASS=QWERTY
CI_DB_DUMP_PATH=/tmp
CI_DB_DUMP_NAME=matomo-ci-processed.sql

# Run import against this DB
IMPORT_DB_NAME=matomo-ci
IMPORT_DB_HOST=db-ci
IMPORT_DB_USER=root
IMPORT_DB_PASS=QWERTY
IMPORT_DB_DUMP_PATH=/tmp
IMPORT_DB_DUMP_NAME=matomo-ci-processed.sql
