# Some defaults
MATOMO_IMAGE=matomo
WORKSPACE_DIR=/usr/local/var/www/matomo
SCRIPT_LOGSFILE=./logs/prep_ci_db.log
DOCKER_COMPOSE=/usr/local/bin/docker-compose

# Slack integraion
SLACK_USER=Matomo Script
SLACK_CHANNEL=matomo_channel
SLACK_EMOJI=matomo
SLACK_T000=T00000000
SLACK_B000=B00000000
SLACK_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXX

# Some credentials
DB_USER=root
DB_PASSWORD=SUPER_SECRET
DB_TO_DUMP=matomo
DB_DUMP_PATH=/tmp
DB_DUMP_NAME=matomo-ci.sql
MINIO_CLIENT=/usr/local/bin/minio-client <-- Path to minio executables(if not globally installed).
MINIO_CONFIG=/PATH/TO/YOUR/.minio-client <-- Usually in your home (~) folder. But NEEDS to be absolute path.
MINIO_BUCKET_PATH=path/in/minio

# Just for debugging purposses
TEST=false

# Naming for CI
CI_DB_NAME=matomo-ci
CI_DB_HOST=db-ci
CI_DB_PORT=3306
CI_DB_PORT_INTERNAL=3306
CI_DB_USER=root
CI_DB_PASS=QWERTY
CI_DB_DUMP_PATH=/dumps
CI_DB_DUMP_NAME=matomo-ci-processed.sql
CI_MTMO_USER=admin-test
CI_MTMO_PASS=mtmo@rocks

# Run import against this DB
IMPORT_DB_NAME=matomo-ci
IMPORT_DB_HOST=db-ci
IMPORT_DB_USER=root
IMPORT_DB_PASS=QWERTY
IMPORT_DB_DUMP_PATH=./dumps
IMPORT_DB_DUMP_NAME=matomo-ci-processed.sql
